apiVersion: v1
kind: ConfigMap
metadata:
    name: grafana-dashboard-configuration
    namespace: {{ namespace  }}
data:
    dashboard.yml: |
        apiVersion: 1

        providers:
        - name: 'Miscellaneous'
          org_id: 1
          folder: 'Miscellaneous'
          type: 'file'
          editable: true
          options:
            folder: '/etc/grafana/provisioning/dashboards/Miscellaneous'

        - name: 'Hardware'
          org_id: 1
          folder: 'Hardware'
          type: 'file'
          editable: true
          options:
            folder: '/etc/grafana/provisioning/dashboards/Hardware'

        - name: 'Servers'
          org_id: 1
          folder: 'Servers'
          type: 'file'
          editable: true
          options:
            folder: '/etc/grafana/provisioning/dashboards/Servers'

        - name: 'Ubiquiti'
          org_id: 1
          folder: 'Ubiquiti'
          type: 'file'
          editable: true
          options:
            folder: '/etc/grafana/provisioning/dashboards/Ubiquiti'
