apiVersion: v1
kind: ConfigMap
metadata:
    name: grafana-prometheus-configuration
    namespace: {{ namespace }}
data:
    prometheus.yml: |
        global:
          scrape_interval:     15s 
          evaluation_interval: 15s 
          
        alerting:
          alertmanagers:
          - static_configs:
            - targets:
               - Dione:9093

        scrape_configs:
          - job_name: 'prometheus'
            static_configs:
            - targets: ['localhost:9090']
