apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
    name: grafana-prometheus-scraper
subjects:
    - kind: User
      name: grafana-prometheus-scraper
roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: grafana-prometheus-scraper
