apiVersion: apps/v1
kind: Deployment
metadata:
    name: grafana
    namespace: {{ namespace }}
    labels:
        app: grafana
        version: latest
        type: official
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: grafana
    template:
        metadata:
            labels:
                app: grafana
        spec:
            initContainers:
                - name: postgres-wait
                  image: postgres
                  command: ['sh', '-c', 'until pg_isready -h postgres -p 5432 -U grafana; do sleep 1; done;']
            containers:
                - name: grafana
                  image: grafana/grafana:latest
                  env:
                      - name: GF_SERVER_DOMAIN
                        value: "{{ grafana_hostname }}"
                      - name: GF_SERVER_ROOT_URL
                        value: "http://{{ grafana_hostname }}"
                      - name: GF_DATABASE_TYPE
                        value: "postgres"
                      - name: GF_DATABASE_HOST
                        value: "postgres:5432"
                      - name: GF_DATABASE_USER
                        value: "grafana"
                      - name: GF_DATABASE_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                key: postgres_password
                                name: grafana-postgres-password
                      - name: GF_ANALYTICS_REPORTING_ENABLED
                        value: "false"
                      - name: GF_ANALYTICS_GOOGLE_ANALYTICS_UA_ID
                        value: "{{ google_analytics_tracking_id }}"
                      - name: GF_SECURITY_ADMIN_USER
                        value: "{{ grafana_username }}"
                      - name: GF_SECURITY_ADMIN_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                key: grafana_password
                                name: grafana-password
                      - name: GF_USERS_ALLOW_SIGN_UP
                        value: "false"
                      - name: GF_SMTP_ENABLED
                        value: "true"
                      - name: GF_SMTP_HOST
                        value: "{{ smtp_server }}:{{ smtp_port }}"
                      - name: GF_SMTP_USER
                        value: "{{ smtp_username }}"
                      - name: GF_SMTP_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                key: smtp_password
                                name: grafana-smtp-password
                      - name: GF_SMTP_FROM_ADDRESS
                        value: "grafana@{{ grafana_hostname }}"
                      - name: GF_INSTALL_PLUGINS
                        value: "{{ installed_plugins }}"
                  ports:
                      - name: "http-web"
                        containerPort: 3000
                        protocol: TCP
                  volumeMounts:
                      - name: grafana-dashboard-configuration
                        mountPath: /etc/grafana/provisioning/dashboards/dashboard.yml
                        subPath: dashboard.yml
                      - name: grafana-datasource-configuration
                        mountPath: /etc/grafana/provisioning/datasources/datasource.yml
                        subPath: datasource.yml
                      - name: grafana-dashboards-1
                        mountPath: /etc/grafana/provisioning/dashboards/Hardware/proxmox_summary.json
                        subPath: proxmox_summary.json
                      - name: grafana-dashboards-1
                        mountPath: /etc/grafana/provisioning/dashboards/Hardware/ups_summary.json
                        subPath: ups_summary.json
                      - name: grafana-dashboards-2
                        mountPath: /etc/grafana/provisioning/dashboards/Servers/plex_summary.json
                        subPath: plex_summary.json
                      - name: grafana-dashboards-2
                        mountPath: /etc/grafana/provisioning/dashboards/Servers/pihole_summary.json
                        subPath: pihole_summary.json
                      - name: grafana-dashboards-2
                        mountPath: /etc/grafana/provisioning/dashboards/Servers/jira_summary.json
                        subPath: jira_summary.json
                      - name: grafana-dashboards-2
                        mountPath: /etc/grafana/provisioning/dashboards/Servers/availability_summary.json
                        subPath: availability_summary.json
                      - name: grafana-dashboards-2
                        mountPath: /etc/grafana/provisioning/dashboards/Servers/ssl_certificate_summary.json
                        subPath: ssl_certificate_summary.json
                      - name: grafana-dashboards-2
                        mountPath: /etc/grafana/provisioning/dashboards/Miscellaneous/weather_summary.json
                        subPath: weather_summary.json
                      - name: grafana-dashboards-2
                        mountPath: /etc/grafana/provisioning/dashboards/Miscellaneous/github_summary.json
                        subPath: github_summary.json
                      - name: grafana-dashboards-1
                        mountPath: /etc/grafana/provisioning/dashboards/Ubiquiti/unifi_client_insights.json
                        subPath: unifi_client_insights.json
                      - name: grafana-dashboards-1
                        mountPath: /etc/grafana/provisioning/dashboards/Ubiquiti/unifi_network_sites.json
                        subPath: unifi_network_sites.json
                      - name: grafana-dashboards-1
                        mountPath: /etc/grafana/provisioning/dashboards/Ubiquiti/unifi_switch_insights.json
                        subPath: unifi_switch_insights.json
                      - name: grafana-dashboards-1
                        mountPath: /etc/grafana/provisioning/dashboards/Ubiquiti/unifi_ap_insights.json
                        subPath: unifi_ap_insights.json
                      - name: grafana-dashboards-1
                        mountPath: /etc/grafana/provisioning/dashboards/Ubiquiti/ubiquiti_edgerouter_insights.json
                        subPath: ubiquiti_edgerouter_insights.json
            volumes:
                - name: grafana-dashboard-configuration
                  persistentVolumeClaim:
                  configMap:
                    name: grafana-dashboard-configuration
                - name: grafana-datasource-configuration
                  persistentVolumeClaim:
                  configMap:
                    name: grafana-datasource-configuration
                - name: grafana-dashboards-1
                  persistentVolumeClaim:
                  configMap:
                    name: grafana-dashboards-1
                - name: grafana-dashboards-2
                  persistentVolumeClaim:
                  configMap:
                    name: grafana-dashboards-2
