apiVersion: apps/v1
kind: Deployment
metadata:
    name: influxdb
    namespace: {{ namespace }}
    labels:
        app: grafana-influxdb
        version: latest
        type: offical
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: influxdb
    template:
        metadata:
            labels:
                app: influxdb
        spec:
            containers:
                - name: influxdb
                  image: influxdb:latest
                  env:
                      - name: INFLUXDB_DB
                        value: "{{ influxdb_db }}"
                      - name: INFLUXDB_ADMIN_USER
                        value: "{{ influxdb_user }}"
                      - name: INFLUXDB_ADMIN_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                key: influxdb_admin_password
                                name: grafana-influxdb-password
                      - name: INFLUXDB_UDP_ENABLED
                        value: "true"
                      - name: INFLUXDB_UDP_BIND_ADDRESS
                        value: "0.0.0.0:8089"
                      - name: INFLUXDB_UDP_DATABASE
                        value: "proxmox"
                      - name: INFLUXDB_UDP_0_BATCH_SIZE
                        value: "1000"
                      - name: INFLUXDB_UDP_BATCH_TIMEOUT
                        value: "1s"
                  ports:
                      - name: "tcp-influxdb"
                        containerPort: 8086
                        protocol: TCP
                      - name: "udp-influxdb"
                        containerPort: 8089
                        protocol: UDP
                  volumeMounts:
                      - name: grafana-influxdb-data
                        mountPath: /var/lib/influxdb/
                      - name: grafana-influxdb-configuration
                        mountPath: /docker-entrypoint-initdb.d/zbootstrap.sh
                        subPath: zbootstrap.sh
            volumes:
                - name: grafana-influxdb-configuration
                  persistentVolumeClaim:
                  configMap:
                    name: grafana-influxdb-configuration
                - name: grafana-influxdb-data
                  persistentVolumeClaim:
                    claimName: grafana-influxdb-data
