apiVersion: apps/v1
kind: Deployment
metadata:
    name: prometheus
    namespace: {{ namespace }}
    labels:
        app: grafana-prometheus
        version: latest
        type: offical
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: prometheus
    template:
        metadata:
            labels:
                app: prometheus
        spec:
            serviceAccountName: grafana-prometheus-scraper
            containers:
                - name: prometheus
                  image: prom/prometheus
                  ports:
                      - name: "tcp-prometheus"
                        containerPort: 9090
                        protocol: TCP
                  volumeMounts:
                      - name: grafana-prometheus-data
                        mountPath: /prometheus
                      - name: grafana-prometheus-configuration
                        mountPath: /etc/prometheus/prometheus.yml
                        subPath: prometheus.yml
                      - name: grafana-prometheus-configuration
                        mountPath: /etc/prometheus/node_rules.yaml
                        subPath: node_rules.yaml
                      - name: grafana-prometheus-configuration
                        mountPath: /etc/prometheus/node_alerts.yaml
                        subPath: node_alerts.yaml
                      - name: grafana-prometheus-configuration
                        mountPath: /etc/prometheus/kubernetes_rules.yaml
                        subPath: kubernetes_rules.yaml
                      - name: grafana-prometheus-configuration
                        mountPath: /etc/prometheus/kubernetes_alerts.yaml
                        subPath: kubernetes_alerts.yaml
                      - name: grafana-kube-state-metrics-token
                        mountPath: /etc/prometheus/token
                        subPath: token
            volumes:
                - name: grafana-prometheus-data
                  persistentVolumeClaim:
                    claimName: grafana-prometheus-data
                - name: grafana-prometheus-configuration
                  persistentVolumeClaim:
                  configMap:
                    name: grafana-prometheus-configuration
                - name: grafana-kube-state-metrics-token
                  secret:
                    secretName: grafana-kube-state-metrics-token
