apiVersion: apps/v1
kind: Deployment
metadata:
    name: unifi-poller
    namespace: {{ namespace }}
    labels:
        app: grafana-unifi-poller
        version: latest
        type: offical
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: unifi-poller
    template:
        metadata:
            labels:
                app: unifi-poller
        spec:
            containers:
                - name: unifi-poller
                  image: golift/unifi-poller:stable
                  volumeMounts:
                      - name: grafana-unifi-poller-configuration
                        mountPath: /etc/unifi-poller/up.conf
                        subPath: up.conf
            volumes:
                - name: grafana-unifi-poller-configuration
                  persistentVolumeClaim:
                  configMap:
                    name: grafana-unifi-poller-configuration
