apiVersion: v1
kind: PersistentVolume
metadata:
    name: grafana-influxdb-data
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 100Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ influxdb_dir }}
    storageClassName: nfs
