apiVersion: v1
kind: PersistentVolume
metadata:
    name: grafana-prometheus-data
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 100Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ prometheus_data_dir }}
    storageClassName: nfs
