apiVersion: v1
kind: Service
metadata:
    name: telegraf
    namespace: {{ namespace }}
    labels:
        app: telegraf
spec:
    selector:
        app: telegraf
    ports:
    - name: "tcp-statd"
      protocol: TCP
      targetPort: 8125
      port: 8125
    - name: "tcp-traffic"
      protocol: TCP
      targetPort: 8094
      port: 8094
    - name: "udp-traffic"
      protocol: UDP
      targetPort: 8092
      port: 8092
