apiVersion: v1
kind: Service
metadata:
    name: influxdb-udp
    annotations:
        metallb.universe.tf/address-pool: {{ load_balancer_address_pool }}
        metallb.universe.tf/allow-shared-ip: "true"
    namespace: {{ namespace }}
    labels:
        app: influxdb
spec:
    type: LoadBalancer
    externalTrafficPolicy: Local
    selector:
        app: influxdb
    loadBalancerIP: {{ influxdb_load_balancer_ip }}
    ports:
    - name: "udp-influxdb"
      protocol: UDP
      targetPort: 8089
      port: 8089
