apiVersion: v1
kind: Service
metadata:
    name: openvpn-udp
    annotations:
        metallb.universe.tf/address-pool: {{ load_balancer_address_pool }}
        metallb.universe.tf/allow-shared-ip: "true" 
    namespace: {{ namespace }}
    labels:
        app: openvpn
spec:
    type: LoadBalancer
    externalTrafficPolicy: Local
    selector:
        app: openvpn
    loadBalancerIP: {{ load_balancer_ip }}
    ports:
    - name: "udp-traffic"
      protocol: UDP
      targetPort: 1194
      port: 1194
