apiVersion: v1
kind: PersistentVolume
metadata:
    name: unifi-controller-backups
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 10Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ backups_dir }}
    storageClassName: nfs
