apiVersion: v1
kind: PersistentVolume
metadata:
    name: unifi-controller-data
    namespace: {{ unifi_controller_namespace }}
spec:
    capacity:
        storage: 10Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ unifi_controller_data }}
    storageClassName: nfs
