apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: unifi-controller-backups
    namespace: {{ namespace }}
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 10Gi 
    storageClassName: nfs            
    volumeName: unifi-controller-backups
