apiVersion: v1
kind: Service
metadata:
    name: unifi-controller-udp
    namespace: {{ unifi_controller_namespace }}
    annotations:
        metallb.universe.tf/allow-shared-ip: "true"
    labels:
        app: unifi-controller
spec:
    type: LoadBalancer
    selector:
        app: unifi-controller
    loadBalancerIP: {{ load_balancer_ip }}
    ports:
    - name: "l2-discoverable"
      protocol: UDP
      targetPort: 1900 
      port: 1900
    - name: "stun"
      protocol: UDP
      targetPort: 3478
      port: 3478
    - name: "ap-discovery"
      protocol: UDP
      targetPort: 10001
      port: 10001
