apiVersion: v1
kind: Service
metadata:
    name: unifi-controller-mongodb
    namespace: {{ namespace }}
    labels:
        app: unifi-controller-mongodb
spec:
    selector:
        app: unifi-controller-mongodb
    ports:
    - name: "mongo-api"
      protocol: TCP
      targetPort: 27017
      port: 27017
