apiVersion: v1
kind: Service
metadata:
    name: unifi-controller-mongodb
    annotations:
        metallb.universe.tf/address-pool: {{ load_balancer_address_pool }}
    namespace: {{ namespace }}
    labels:
        app: unifi-controller-mongodb
spec:
    selector:
        app: unifi-controller-mongodb
    ports:
    - name: "unifi-controller-mongodb"
      protocol: TCP
      targetPort: 27017
      port: 27017
