apiVersion: apps/v1
kind: Deployment
metadata:
    name: deluge
    namespace: {{ namespace }}
    labels:
        app: deluge
        version: latest
        type: third-party
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: deluge
    template:
        metadata:
            labels:
                app: deluge
        spec:         
            containers:
                - name: deluge
                  image: linuxserver/deluge:latest
                  env:
                      - name: PUID
                        value: "{{ fileserver_uid }}"
                      - name: PGID
                        value: "{{ fileserver_gid }}"
                      - name: TZ
                        value: "{{ timezone }}"
                  ports:
                      - name: "traffic-1"
                        containerPort: 7850
                        protocol: TCP
                      - name: "traffic-2"
                        containerPort: 7851
                        protocol: TCP
                      - name: "http-deluge-web"
                        containerPort: 8112
                        protocol: TCP
                      - name: "daemon"
                        containerPort: 58846
                        protocol: TCP
                  volumeMounts:
                      - name: deluge-config
                        mountPath: /config
                      - name: deluge-downloads
                        mountPath: /downloads
                      - name: deluge-fileserver
                        mountPath: /SaturnPool
                  resources:
                      requests:
                          memory: {{ mem_request }}
                          cpu: {{ cpu_request }}
                      limits:
                          memory: {{ mem_limit }}
                          cpu: {{ cpu_limit }}
            volumes:
                - name: deluge-config
                  persistentVolumeClaim:
                    claimName: deluge-config
                - name: deluge-downloads
                  persistentVolumeClaim:
                    claimName: deluge-downloads
                - name: deluge-fileserver
                  persistentVolumeClaim:
                    claimName: deluge-fileserver
