apiVersion: v1
kind: PersistentVolume
metadata:
    name: deluge-downloads
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 15Ti
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ downloads_dir }}
    storageClassName: nfs
