apiVersion: v1
kind: PersistentVolume
metadata:
    name: deluge-fileserver
    namespace: {{ deluge_namespace }}
spec:
    capacity:
        storage: 15Ti
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ fileserver_root }}
    storageClassName: nfs
