apiVersion: v1
kind: PersistentVolume
metadata:
    name: deluge-config
    namespace: {{ deluge_namespace }}
spec:
    capacity:
        storage: 2Gi
    accessModes:
        - ReadOnlyMany
    nfs:
        server: {{ nfs_server }}
        path: {{ deluge_config }}
    storageClassName: nfs
