apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: deluge-downloads
    namespace: {{ deluge_namespace }}
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 15Ti
    storageClassName: nfs            
    volumeName: deluge-downloads
