apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: deluge-config
    namespace: {{ deluge_namespace }}
spec:
    accessModes:
        - ReadOnlyMany
    resources:
        requests:
            storage: 2Gi 
    storageClassName: nfs            
    volumeName: deluge-config
