resources:
  - resources/namespace.yml
  - resources/persistentVolume.yml
  - resources/persistentVolumeClaim.yml

namespace: prometheus-system

helmCharts:
  - includeCRDs: true
    name: kube-prometheus-stack
    namespace: prometheus-system
    releaseName: prometheus
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: values.yml
    version: 56.21.4 # https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
