apiVersion: apps/v1
kind: Deployment
metadata:
    name: radarr
    namespace: {{ namespace }}
    labels:
        app: radarr
        type: third-party
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: radarr
    template:
        metadata:
            labels:
                app: radarr
        spec:         
            containers:
                - name: radarr
                  image: linuxserver/radarr:latest
                  env:
                      - name: PUID
                        value: "{{ fileserver_uid }}"
                      - name: PGID
                        value: "{{ fileserver_gid }}"
                      - name: TZ
                        value: "{{ timezone }}"
                  ports:
                      - name: "radarr-web"
                        containerPort: 7878
                        protocol: TCP
                  volumeMounts:
                      - name: radarr-config
                        mountPath: /config
                      - name: radarr-fileserver
                        mountPath: /downloads                   
                      - name: radarr-movies
                        mountPath: /movies
                  readinessProbe:
                      httpGet:
                          path: /
                          port: 7878
                      periodSeconds: 10
                      failureThreshold: 3
                  livenessProbe:
                      httpGet:
                          path: /
                          port: 7878
                      initialDelaySeconds: 60
                      periodSeconds: 10
                      failureThreshold: 5
                  resources:
                      limits:
                          cpu: {{ cpu_limit }}                        
                          memory: {{ mem_limit }}
            volumes:
                - name: radarr-config
                  persistentVolumeClaim:
                    claimName: radarr-config
                - name: radarr-fileserver
                  persistentVolumeClaim:
                    claimName: radarr-fileserver
                - name: radarr-movies
                  persistentVolumeClaim:
                    claimName: radarr-movies
