apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: radarr-config
    namespace: {{ namespace }}
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 2Gi 
    storageClassName: nfs            
    volumeName: radarr-config
