apiVersion: apps/v1
kind: Deployment
metadata:
    name: nextcloud
    namespace: {{ namespace }}
    labels:
        app: nextcloud
        version: latest
        type: third-party
        facing: external
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: nextcloud
    template:
        metadata:
            labels:
                app: nextcloud
        spec:      
            initContainers:
                - name: postgres-wait
                  image: postgres
                  command: ['sh', '-c', 'until pg_isready -h postgres -p 5432 -U nextcloud; do sleep 1; done;']
            containers:
                - name: nextcloud
                  image: linuxserver/nextcloud:latest
                  env:
                      - name: PUID
                        value: "{{ fileserver_uid }}"
                      - name: PGID
                        value: "{{ fileserver_gid }}"
                      - name: TZ
                        value: "{{ timezone }}"
                  ports:
                      - name: "http-web"
                        containerPort: 443
                        protocol: TCP
                  volumeMounts:
                      - name: nextcloud-config
                        mountPath: /config
                      - name: nextcloud-data
                        mountPath: /data
                  resources:
                      limits:
                          cpu: {{ nextcloud_cpu_limit }}                        
                          memory: {{ nextcloud_mem_limit }}
            volumes:
                - name: nextcloud-config
                  persistentVolumeClaim:
                    claimName: nextcloud-config
                - name: nextcloud-data
                  persistentVolumeClaim:
                    claimName: nextcloud-data
