apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: nextcloud-postgres
    namespace: {{ namespace }}
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 10Gi 
    storageClassName: nfs            
    volumeName: nextcloud-postgres
