namespace: tautulli-system

resources:
  - resources/namespace.yml
  - resources/persistentVolume.yml
  - resources/persistentVolumeClaim.yml
  - resources/service.yml
  - resources/statefulset.yml

commonLabels:
  app.kubernetes.io/name: tautulli

images:
  - name: tautulli/tautulli
    newTag: v2.13.4 # https://hub.docker.com/r/linuxserver/tautulli/tags

configMapGenerator:
  - name: tautulli-env-vars
    literals:
      - TZ="America/Los_Angeles"
