apiVersion: apps/v1
kind: Deployment
metadata:
    name: sonarr
    namespace: {{ namespace }}
    labels:
        app: sonarr
        version: latest
        type: third-party
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: sonarr
    template:
        metadata:
            labels:
                app: sonarr
        spec:         
            containers:
                - name: sonarr
                  image: linuxserver/sonarr:latest
                  env:
                      - name: PUID
                        value: "{{ fileserver_uid }}"
                      - name: PGID
                        value: "{{ fileserver_gid }}"
                      - name: TZ
                        value: "{{ timezone }}"
                  ports:
                      - name: "http-web"
                        containerPort: 8989
                        protocol: TCP
                  volumeMounts:
                      - name: sonarr-config
                        mountPath: /config
                      - name: sonarr-tv-shows
                        mountPath: /tv
                  readinessProbe:
                      httpGet:
                          path: /
                          port: 8989
                      periodSeconds: 10
                      failureThreshold: 3
                  livenessProbe:
                      httpGet:
                          path: /
                          port: 8989
                      initialDelaySeconds: 60
                      periodSeconds: 10
                      failureThreshold: 5
                  resources:
                      limits:
                          cpu: {{ cpu_limit }}                        
                          memory: {{ mem_limit }}
            volumes:
                - name: sonarr-config
                  persistentVolumeClaim:
                    claimName: sonarr-config
                - name: sonarr-tv-shows
                  persistentVolumeClaim:
                    claimName: sonarr-tv-shows
