apiVersion: v1
kind: ConfigMap
metadata:
    name: personal-website-weatherrc
    namespace: {{ namespace }}
data:
    .weatherrc: |
        {
            "api_key": "{{ wunderground_api_key }}",
            "date": "date",
            "time": "civilian",
            "units": "english"
        }   
