apiVersion: apps/v1
kind: Deployment
metadata:
    name: personal-website
    namespace: {{ namespace }}
    labels:
        app: personal-website
        version: latest
        type: custom
        facing: external
spec:
    replicas: 3
    strategy:
        type: RollingUpdate
        rollingUpdate:
            maxSurge: 100%
            maxUnavailable: 30%
    selector:
        matchLabels:
            app: personal-website
    template:
        metadata:
            labels:
                app: personal-website
        spec:         
            containers:
                - name: weatherpy
                  image: zimmertr/weatherpy:latest
                  volumeMounts:
                      - name: personal-website-weatherrc
                        mountPath: /root/.weatherrc
                        subPath: .weatherrc
                  resources:
                      limits:
                          memory: {{ mem_limit_weatherpy }}
                          cpu: {{ cpu_limit_weatherpy }}
                - name: statsbot
                  image: zimmertr/statsbot:latest
                  resources:
                      limits:
                          memory: {{ mem_limit_statsbot }}
                          cpu: {{ cpu_limit_statsbot }}
                - name: httpd
                  image: zimmertr/personal-website:latest
                  ports:
                      - name: "http-apache"
                        containerPort: 80
                        protocol: TCP
                  volumeMounts:
                      - name: personal-website-files
                        mountPath: /var/www/html/Files/
                      - name: personal-website-analyticsjs
                        mountPath: /var/www/html/analytics.js
                        subPath: analytics.js
                  readinessProbe:
                      httpGet:
                          path: /
                          port: 80
                      periodSeconds: 10
                      failureThreshold: 1
                  livenessProbe:
                      httpGet:
                          path: /
                          port: 80
                      initialDelaySeconds: 5
                      periodSeconds: 10
                      failureThreshold: 5
                  resources:
                      limits:
                          memory: {{ mem_limit_httpd }}
                          cpu: {{ cpu_limit_httpd }}
            volumes:
                - name: personal-website-files
                  persistentVolumeClaim:
                    claimName: personal-website-files
                - name: personal-website-analyticsjs
                  configMap:
                    name: personal-website-analytics.js
                - name: personal-website-weatherrc
                  configMap:
                    name: personal-website-weatherrc
