apiVersion: v1
kind: PersistentVolume
metadata:
    name: personal-website-files
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 1Gi
    accessModes:
        - ReadOnlyMany
    nfs:
        server: {{ nfs_server }}
        path: {{ public_files_dir }}
    storageClassName: nfs
