apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: personal-website-files
    namespace: {{ namespace }}
spec:
    accessModes:
        - ReadOnlyMany
    resources:
        requests:
            storage: 1Gi 
    storageClassName: nfs            
    volumeName: personal-website-files
