apiVersion: v1
kind: PersistentVolume
metadata:
    name: nextcloud-data
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 2Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ storage_dir }}
    storageClassName: nfs
