apiVersion: v1
kind: PersistentVolume
metadata:
    name: nextcloud-postgres
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 10Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ postgres_dir }}
    storageClassName: nfs
