apiVersion: apps/v1
kind: Deployment
metadata:
    name: piwigo
    namespace: {{ namespace }}
    labels:
        app: piwigo
        version: latest
        type: third-party
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: piwigo
    template:
        metadata:
            labels:
                app: piwigo
        spec:         
            containers:
                - name: piwigo
                  image: linuxserver/piwigo:latest
                  env:
                      - name: PUID
                        value: "{{ fileserver_uid }}"
                      - name: PGID
                        value: "{{ fileserver_gid }}"
                      - name: TZ
                        value: "{{ timezone }}"
                  ports:
                      - name: "http-web"
                        containerPort: 80
                        protocol: TCP
                  volumeMounts:
                      - name: piwigo-config
                        mountPath: /config
                      - name: piwigo-photos
                        mountPath: /photos
                  # resources:
                  #     limits:
                  #         cpu: {{ piwigo_cpu_limit }}                        
                  #         memory: {{ piwigo_mem_limit }}
            volumes:
                - name: piwigo-config
                  persistentVolumeClaim:
                    claimName: piwigo-config
                - name: piwigo-photos
                  persistentVolumeClaim:
                    claimName: piwigo-photos
