apiVersion: v1
kind: PersistentVolume
metadata:
    name: piwigo-mysql
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 10Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ mysql_dir }}
    storageClassName: nfs
