apiVersion: v1
kind: PersistentVolume
metadata:
    name: piwigo-photos
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 2Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ photo_dir }}
    storageClassName: nfs
