apiVersion: v1
kind: PersistentVolume
metadata:
    name: plex-music
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 15Ti
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ music_dir }}
    storageClassName: nfs
