apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: plex-music
    namespace: {{ namespace }}
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 15Ti
    storageClassName: nfs            
    volumeName: plex-music
