apiVersion: v1
kind: Service
metadata:
    name: plex-tcp
    annotations:
        metallb.universe.tf/address-pool: {{ load_balancer_address_pool }}
        metallb.universe.tf/allow-shared-ip: "true"
    namespace: {{ namespace }}
    labels:
        app: plex
spec:
    type: LoadBalancer
    externalTrafficPolicy: Local
    selector:
        app: plex
    loadBalancerIP: {{ load_balancer_ip }}
    ports:
      - name: "plex-home-contr"
        targetPort: 3005
        port: 3005
        protocol: TCP
      - name: "plex-roku-contr"
        targetPort: 8324
        port: 8324
        protocol: TCP
      - name: "plex-web-tcp"
        targetPort: 32400
        port: 32400
        protocol: TCP
      - name: "plex-dlna-tcp"
        targetPort: 32469
        port: 32469
        protocol: TCP
