apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres
    namespace: {{ namespace }}
    labels:
        app: grafana-postgres
        version: latest
        type: offical
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: postgres
    template:
        metadata:
            labels:
                app: postgres
        spec:         
            containers:
                - name: postgres
                  image: postgres:latest
                  env:
                      - name: POSTGRES_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                key: postgres_password
                                name: grafana-postgres-password
                      - name: POSTGRES_USER
                        value: "grafana"
                  ports:
                      - name: "tcp-postgres"
                        containerPort: 5432
                        protocol: TCP
                  volumeMounts:
                      - name: grafana-postgres-data
                        mountPath: /var/lib/postgresql/data
            volumes:
                - name: grafana-postgres-data
                  persistentVolumeClaim:
                    claimName: grafana-postgres-data
