apiVersion: apps/v1
kind: Deployment
metadata:
    name: pihole-exporter
    namespace: {{ namespace }}
    labels:
        app: pihole-exporter
        version: latest
        type: offical
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: pihole-exporter
    template:
        metadata:
            labels:
                app: pihole-exporter
        spec:
            containers:
                - name: pihole-exporter
                  image: ekofr/pihole-exporter
                  ports:
                      - name: "tcp-stream"
                        containerPort: 9617
                        protocol: TCP
                  env:
                      - name: PIHOLE_HOSTNAME
                        value: "{{ pihole_hostname }}"
                      - name: PIHOLE_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                key: pihole_password
                                name: grafana-pihole-password
                      - name: INTERVAL
                        value: "30s"
                      - name: PORT
                        value: "9617"

