apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: grafana-influxdb-data
    namespace: {{ namespace }}
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 100Gi 
    storageClassName: nfs            
    volumeName: grafana-influxdb-data
