apiVersion: v1
kind: Service
metadata:
    name: influxdb
    namespace: {{ namespace }}
    labels:
        app: influxdb
spec:
    selector:
        app: influxdb
    ports:
    - name: "tcp-influxdb"
      protocol: TCP
      targetPort: 8086
      port: 8086
    - name: "tcp-admin"
      protocol: TCP
      targetPort: 8083
      port: 8083
