apiVersion: v1
kind: Service
metadata:
    name: prometheus
    annotations:
        metallb.universe.tf/address-pool: {{ load_balancer_address_pool }}
    namespace: {{ namespace }}
    labels:
        app: prometheus
spec:
    type: LoadBalancer
    externalTrafficPolicy: Local
    selector:
        app: prometheus
    loadBalancerIP: {{ prometheus_load_balancer_ip }}
    ports:
    - name: "http-web"
      protocol: TCP
      targetPort: 9090
      port: 9090
