namespace: nginx-exporter

resources:
  - resources/namespace.yml
  - resources/deployment.yml
  - resources/service.yml

commonLabels:
  app.kubernetes.io/name: nginx-exporter

images:
  - name: nginx/nginx-prometheus-exporter
    newTag: 1.1.0 # https://github.com/nginxinc/nginx-prometheus-exporter/releases

configMapGenerator:
  - name: nginx-exporter-env-vars
    literals:
      - NGINX_ENDPOINT="http://nix.sol.milkyway:8080/stub_status"
