apiVersion: extensions/v1beta1
kind: Ingress
metadata:
    annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    name: personal-website
    namespace: {{ website_namespace }}
spec:
    rules:
    - host: {{ website_hostname }}
      http:
        paths:
        - backend:
            serviceName: personal-website
            servicePort: 80
          path: / 
