apiVersion: v1
kind: PersistentVolume
metadata:
    name: personal-website-files
    namespace: {{ personal_website_namespace }}
spec:
    capacity:
        storage: 1Gi
    accessModes:
        - ReadOnlyMany
    nfs:
        server: {{ nfs_server }}
        path: {{ website_public_files }}
    storageClassName: nfs
