apiVersion: apps/v1
kind: Deployment
metadata:
    name: unifi-controller-mongodb
    namespace: {{ namespace }}
    labels:
        app: unifi-controller-mongodb
        version: 3.4
        type: third-party
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: unifi-controller-mongodb
    template:
        metadata:
            labels:
                app: unifi-controller-mongodb
        spec:         
            containers:
                - name: unifi-controller-mongodb
                  # The latest version supported by the Unifi Controller is 3.4.x
                  image: mongo:3.4
                  env:
                      - name: MONGO_INITDB_ROOT_USERNAME
                        value: "ubnt"
                      - name: MONGO_INITDB_ROOT_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                key: mongodb_password
                                name: unifi-controller-mongodb-password
                      - name: MONGO_INITDB_DATABASE
                        value: "unifi"
                  ports:
                      - name: "mongo-api"
                        containerPort: 27017
                        protocol: TCP
                  volumeMounts:
                      - name: unifi-controller-mongodb
                        mountPath: /data/db
                      - name: unifi-controller-mongodb-config
                        mountPath: /docker-entrypoint-initdb.d/create_unifi_db.sh
                        subPath: create_unifi_db.sh
                  readinessProbe:
                      tcpSocket:
                          port: 27017
                      initialDelaySeconds: 30
                      periodSeconds: 10
                      failureThreshold: 1                   
                  livenessProbe:
                      tcpSocket:
                          port: 27017
                      initialDelaySeconds: 30
                      periodSeconds: 10
                      failureThreshold: 6
                  resources:
                      requests:
                          memory: {{ mongodb_mem_request }}
                          cpu: {{ mongodb_cpu_request }}
                      limits:
                          memory: {{ mongodb_mem_limit }}
                          cpu: {{ mongodb_cpu_limit }}                        
            volumes:
                - name: unifi-controller-mongodb
                  persistentVolumeClaim:
                    claimName: unifi-controller-mongodb
                - name: unifi-controller-mongodb-config
                  configMap:
                    name: unifi-controller-mongodb-config
