# Directories
directory.default.set = /datapool/Downloads/Downloading
method.insert = d.basedir, private|const|string, (cat,"/data/rtorrent/")
method.insert = d.download, private|const|string, (cat,"/datapool/Downloads/Downloading/")
method.insert = d.download_complete, private|const|string, (cat,"/datapool/Downloads/Unsorted/")
method.insert = d.download_temp, private|const|string, (cat,(cfg.download))
method.insert = d.logs, private|const|string, (cat,(cfg.basedir),"log/")
method.insert = d.session, private|const|string, (cat,(cfg.basedir),".session/")
method.insert = d.watch, private|const|string, (cat,"/datapool/Downloads/Pickup/")
method.insert = d.rundir, private|const|string, (cat,"/var/run/rtorrent/")


# Traffic
throttle.global_down.max_rate.set_kb  = 0
throttle.global_up.max_rate.set_kb    = 0
throttle.max_downloads.global.set     = 300
throttle.max_uploads.global.set       = 250
throttle.max_uploads.set              = 100
throttle.min_peers.normal.set         = 1
throttle.max_peers.normal.set         = 100
throttle.min_peers.seed.set           = 1
throttle.max_peers.seed.set           = 50


# Ports
network.port_range.set  = 57832-57832
network.port_random.set = no


# Limits
network.http.max_open.set     = 50
network.max_open_files.set    = 600
network.max_open_sockets.set  = 300
# trackers.numwant.set          = 100


# Memory
pieces.memory.max.set         = 10240M
network.xmlrpc.size_limit.set = 4M


# Encryption
protocol.encryption.set = require


# Monitoring 
schedule2 = monitor_diskspace, 15, 60, ((close_low_diskspace,1000M))


# Miscellaneous
dht.mode.set          = disable
protocol.pex.set      = no
trackers.use_udp.set  = no
