apiVersion: v1
kind: PersistentVolume
metadata:
    name: deluge-config
spec:
    capacity:
        storage: 1Gi
    accessModes:
        - ReadWriteMany
    hostPath:
        path: /SaturnPool/Kubernetes/Deluge
