apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: confluence-postgres-data
    namespace: {{ namespace }}
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 100Gi 
    storageClassName: nfs            
    volumeName: confluence-postgres-data
