apiVersion: apps/v1
kind: Deployment
metadata:
    name: jira
    namespace: {{ namespace }}
    labels:
        app: jira
        version: latest
        type: official
        facing: internal
spec:
    replicas: 1
    strategy:
        type: Recreate
    selector:
        matchLabels:
            app: jira
    template:
        metadata:
            labels:
                app: jira
        spec:  
            initContainers:
                - name: postgres-wait
                  image: postgres
                  command: ['sh', '-c', 'until pg_isready -h postgres -p 5432 -U jira; do sleep 1; done;']
            containers:
                - name: jira
                  image: atlassian/jira-software:latest
                  env:
                      - name: ATL_DB_TYPE
                        value: "postgres72"
                      - name: ATL_DB_DRIVER
                        value: "org.postgresql.Driver"
                      - name: ATL_JDBC_URL
                        value: "jdbc:postgresql://postgres:5432/jira"
                      - name: ATL_JDBC_USER
                        value: "jira"
                      - name: ATL_JDBC_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                key: postgres_password
                                name: jira-software-postgres-password
                      - name: JVM_MAXIMUM_MEMORY
                        value: {{ jira_mem_limit }}m
                  ports:
                      - name: "http-web"
                        containerPort: 8080
                        protocol: TCP
                  volumeMounts:
                      - name: jira-software-data
                        mountPath: /var/atlassian/application-data/jira
                  resources:
                      requests:
                          cpu: {{ jira_cpu_request }}
                          memory: {{ jira_mem_request }}Mi
                      limits:
                          cpu: {{ jira_cpu_limit }}                        
                          memory: {{ jira_mem_limit }}Mi
            volumes:
                - name: jira-software-data
                  persistentVolumeClaim:
                    claimName: jira-software-data
