apiVersion: v1
kind: PersistentVolume
metadata:
    name: jira-software-data
    namespace: {{ namespace }}
spec:
    capacity:
        storage: 10Gi
    accessModes:
        - ReadWriteMany
    nfs:
        server: {{ nfs_server }}
        path: {{ jira_data_dir }}
    storageClassName: nfs
