apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: jira-software-data
    namespace: {{ namespace }}
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 10Gi 
    storageClassName: nfs            
    volumeName: jira-software-data
