apiVersion: v1
kind: Service
metadata:
    name: jira
    annotations:
        metallb.universe.tf/address-pool: {{ load_balancer_address_pool }}
    namespace: {{ namespace }}
    labels:
        app: jira
spec:
    type: LoadBalancer
    externalTrafficPolicy: Local
    selector:
        app: jira
    loadBalancerIP: {{ load_balancer_ip }}
    ports:
    - name: "http-web"
      protocol: TCP
      targetPort: 8080
      port: 8080
